body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    background-color: #333;
    padding: 45px;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    width: 400px;
    margin: 0 auto;
}

.banner::before {
    content: "";
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; 
    left: -400px;
    width: 1200px;
    height: 120px;
    opacity: 0.5;

    }

.banner-text {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contact-info .column {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.contact-info .column img {
    width: 100px;
    height: 100px;
    border-radius: 50%;   
}

.contacts-address {
    padding: 20px;
}

.address-map-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.address {
    position: absolute;
    left: 15px;
    
}

.map {
    width: 100%;
    max-width: 600px;
}

.address {
    text-align: center;
}

.address h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    margin-left: 220px;
    margin-top: 200px;
}
.address p{
    margin-left: 215px;
    margin-top: 20px;
}

footer {
    position: absolute;
    top: 900px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.social-media {
    position: absolute;
    top: 25px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
}

.instagram {
    font-size: 25px;
    margin-top: -15px;
}

.whatsapp {
    font-size: 25px;
    margin-left: 100px;
}

.email {
    font-size: 25px;
    margin-left: 110px;

}

img {
    position: absolute;
    left: 400px;
    border-radius: 100px;
    top: 30px;
    
}
iframe{
    position: absolute;
    left: 260px;
    top: 500px;
    border-radius: 80px;
}
